:root{
 font-size: 10px;
}

html{
    background-color: blue;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;

}

.changer{
    font-size: 3rem;
    color:orangered;
}

main{
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: pink;
    width: 80rem;
    position: relative;
}
.main__field{
    border: 1px solid black;
    display: flex;
    width: 39.6rem;
    height: 45.5rem;
    flex-wrap: wrap;
}
.field{
    border: 1px solid black;
    width: 13rem;
    height: 15rem;
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    padding:3rem;
    background-color: orange;
    transition: 1s;
    font-size: 2rem;
    color:black;
    border-radius: 60%;
}
.btn:hover{
    background-color: red;
}

.table{
    border:2px solid black;
    position: absolute;
    left: 61rem;
    top: 11rem;
}

td{
    border:1px solid black;
    width: 5rem;
    padding:1rem;
    font-size:1.6rem;
}

.results{
    font-size: 2rem;
}

.footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 5rem 8rem 0 8rem;
    align-items: center;

}

.footer__text{
    gap: 1rem;
    display: flex;
    font-size: 3rem;
}

.footer__middle:hover{
    fill: gold;

}
.footer__middle{
    width: 15rem;
    transition: 1s;
}

.footer__school{
    font-size: 3rem;
}

.footer__school a{
    text-decoration: none;
    color: black;
    transition: 1s;
}

.footer__school a:hover{
    color:gold;
}

.footer__text a{
    text-decoration: none;
    color: black;
    transition: 1s;
}

.footer__text a:hover{
    color:gold;
}