:root{
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-image: url("imgs/background.png");
    background-size: 100%;
}

.modal__window{
    width: 45rem;
    margin: 35rem auto;
    background-color: white;
    border: 1px solid white;
    font-family: "Calibri Light";
    border-radius: 0.5rem;
}

.modal__name{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.modal_text{
    padding: 3rem 1rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
    font-weight: bold;
}

.modal_close{
    background: #6C757D;
    box-sizing: border-box;
    border-radius: 0.5rem;
    margin: 0 0 2rem 26rem;
    padding: 0.8rem 1rem;
    color: white;
}

.modal_save{
    background: #377DFF;
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    color: white;
    margin-left:1rem;
}

